h1 {
    text-align: center;
}

main #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-content: center;
}

#cards section {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#cards section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

#cards section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#cards section p {
    font-size: 1em;
    line-height: 1.5;
}
