nav {
    margin-top: 1px;
}

ul.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;

}

ul.nav-list li {
    margin-bottom: 30px; 
}

@media (min-width: 768px) {

.card { grid-row: 3/3;}

ul.nav-list {
        flex-direction: row; 
    }

ul.nav-list li {
        margin-right: 20px; 
        margin-bottom: 0;   
    }
}

@media (min-width: 768px) {
    main {
      display: grid; /* Cambiar a layout de grid en pantallas más anchas */
      grid-template-columns: 2fr 1fr; /* Definir la distribución de las columnas */
      grid-gap: 60px; /* Espacio entre las columnas */
    }
  
    section {
      margin-bottom: 10px; /* Eliminar espacio entre las secciones en layout de grid */
    }
  }



@media only screen and (min-width: 38rem) 

{   
#myButton {
    display: none;
}
ul.nav-list, ul.nav-list.open {
    display: flex;
    justify-self: flex-end;
}
ul.nav-list a:hover {
    background-color: rgba(55, 118, 188, 0.5);
}
}